# Python stuff
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
venv/

# SpotDL and downloads
data/
*.cache*
*.mp3
*.flac
*.opus
*.m4a

# Secrets
.env
secrets.json

# Node stuff (if frontend later)
node_modules/

# VSCode or IDE
.vscode/
.idea/
.dist/

# OS trash
.DS_Store
Thumbs.db

# custom shit
*.info