body {
    font-family: sans-serif;
    background: #111;
    color: #eee;
    padding: 2em;
  }
  
  h1 {
    color: #8ef;
  }
  
  .song {
    margin-bottom: 1em;
    cursor: pointer;
  }
  
  .song:hover {
    color: #ff8;
  }
  